:root {
  font-family: system-ui, sans-serif;
  color-scheme: light dark;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
  text-align: center;
}

main {
  margin: 0 auto;
}
